.image-nft{
  .el-dialog__wrapper{
    .el-dialog{
      margin-top: 20vh !important;
      .avatar-uploader{
        text-align: center;
        .el-upload{
          img{
            max-width: 100%;
            max-height: 300px;
          }
        }
      }
      .btns{
        text-align: center;
        margin-top: 30px;
      }
    }
  }
  .image-edit{
    height: 490px;
    #tui-image-editor{
      height: 420px !important;
      border:1px solid #666;
      // 点击打开icon的样式
      .tui-image-editor-main{
        top: 0;
        .tui-image-editor-submenu-item{
          li{
            margin-top: 10px;
          }
        }
        .tui-image-editor-submenu{
          width: 200px;
          >div{
            ul{
              li{
                &.tui-image-editor-partition{
                  margin-top: 5;
                  >div{
                    height: 0;
                  }
                }
              }
            }
          }
        }
      }
      .tui-image-editor-help-menu{
        display: none;
      }
      .tui-image-editor-header-logo,.tui-image-editor-header-buttons{
        display: none;
      }
      .tui-image-editor-header{
        min-width: 100%;
      }
      .tui-image-editor-main-container,.tui-image-editor-controls{
        background-color: #fff !important;
      }
      .tui-image-editor-main-container{
        right: 40px;
        width: calc(100% - 40px);
      }
      .tui-image-editor-controls{
        width: 40px;
        border-left:1px solid #666;
        .tui-image-editor-menu{
          background-color: #dcdfe6;
          li{
            .svg_ic-menu{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .walletbox {
    text-align: center;
    height: 151px;
    width: 165px;
    padding: 32px 8px;
    background-color: #f7f9fa;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    .svg-img {
      width: 45px;
      height: 45px;
      margin: 0 auto;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      white-space: nowrap;
      margin-bottom: 8px;
    }
  }
  .checkwalletcss {
    background-color: rgba(70, 171, 238, 0.2);
  }
  .upload-edit-img{
    width: 0;
    height: 0;
  }
}